$main-green: #009832;

html, body {
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  color: $main-green;
  margin: 0.5em 0;
}

p, label {
  font-family: 'Lato', sans-serif;
  color: dimgrey;
}

a {
  text-decoration: none;
}

hr {
  //display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 0.2em 0;
  padding: 0;
}

.container {
  margin: auto;
  width: 45%;
  border: 1px solid white;
  padding: 20px;
  background: white;
  transition-duration: 0.4s;
}

.card {
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s;
  &:hover {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25), 0 3px 10px rgba(0, 0, 0, 0.22);
  }
}

//**** Radio Buttons ****

.go-option {
  display: inline-block;
}

.RadioBtnsWrap label {
  display: inline-block;
  position: relative;
  margin-left: 23px;
  text-align: left;
  min-width: 70px;
  font-size: 16px;
  &:active {
    transform: translate(1px, 1px);
  }
}

.RadioBtnsWrap label::after {
  content: '●';
  color: transparent;
  position: absolute;
  top: 0;
  left: -30px;
  bottom: 0;
  margin: auto;
  width: 14px;
  height: 13px;
  padding: 0 0 7px 4px;
  background-color: #FFFFFF;
  display: inline-block;
  border-top-right-radius: 8px;
  border: 2px solid $main-green;
  transition: color 0.5s;
}

.go-radio {
  -webkit-appearance: none;
  height: 0;
  width: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
  outline: 0;
  border: none;
}

.go-radio:checked + label::after {
  color: $main-green;
}

.go-radio:checked + label + input + label::before {
  height: 52px;
  transition: height .0s linear .3s;
  -webkit-transition: height .0s linear .3s;
}

// Button

.button {
  background-color: $main-green;
  border: none;
  color: white;
  padding: 6px 22px;
  text-align: center;
  display: inline-block;
  margin: 30px 30px 0 0;
  border-top-right-radius: 8px;
  &:hover {
    background-color: $main-green + 20;
  }
  &:active {
    transform: translate(1px, 1px);
  }
}

// Navigation buttons

.nav-buttons {
  display: inline;
  float: right;
  margin: 30px 0 0 0;
}

.controlButtons {
  display: inline;
}

.button-right {
  border-top-right-radius: 8px;
  border: 2px solid grey;
  text-align: center;
  width: 25px;
  height: 25px;
  background-color: #FFFFFF;
  font-size: 16px;
  color: grey;
  &:hover {
    background-color: #ececec;
  }
  &:active {
    transform: translate(1px, 1px);
  }
}

.button-left {
  @extend .button-right;
  border-top-right-radius: 0;
  border-top-left-radius: 8px;

}

// Progress bar

.ProgressBar {
  list-style: none;
  position: relative;
  display: flex;
  top: 6px;
  padding: 15px 0 0 0;
}

.ProgressBar-icon {
  width: 10px;
  height: 10px;
  background-color: #aaaaaa;
  fill: #c2c2c2;
  border-radius: 50%;
  max-width: 100%;
  position: relative;
  transition: all .25s ease-out;
  margin: 0 12px 0 0;
}

.ProgressBar-icon-active {
  background-color: $main-green;
}

.percents-left {
  float: right;
}

.hide {
  display: none;
}
