<div id="hide">
    <h2>QUESTION {{settings.activeQuestion + 1}} OF {{questions.length}}</h2>
    <hr/>
    <p>{{questions[settings.activeQuestion].question}}</p>

    <!-- Answers -->
    <div class="RadioBtnsWrap">
        <div class="go-option" ng-repeat="option in questions[settings.activeQuestion].options">
            <input id="radio{{$index}}" ng-model="answers[settings.activeQuestion].text" ng-change="onSelect(option)"
                   class="go-radio" type="radio" name="nnn"
                   value={{option.text}}>
            <label for="radio{{$index}}">{{option.text}}</label>
        </div>
    </div>

    <!-- Submit - Skip -->
    <div class="controlButtons">
        <input type="button" class="button" name="nnn" value="Skip" ng-click="nextQuestion()">
        <input type="button" class="button" name="nnn" value="Submit all" ng-click="submitAnswers()">
    </div>

    <!-- Previous - Next -->
    <div class="nav-buttons">
        <button class="button-left" type="submit" ng-click="previousQuestion()">
            <i class="fa fa-caret-left" aria-hidden="true"></i>
        </button>
        <button class="button-right" type="submit" ng-click="nextQuestion()">
            <i class="fa fa-caret-right" aria-hidden="true"></i>
        </button>
    </div>

    <div class="ProgressBarContainer">
        <ol class="ProgressBar">
            <li class="ProgressBar-icon" ng-repeat="(i, question) in questions"
                ng-class="{'ProgressBar-icon-active': i == settings.activeQuestion}"></li>
        </ol>
        <!--<p><small>{{(100 - (100 / questions.length * activeQuestion)) | number:0}}% left</small></p>-->
    </div>
    <!--{{answers}}-->
</div>
<div class="hide" id="show">
    <h2>RESULTS</h2>
    <ul>
        <li ng-repeat="answer in answers">
            <h3>{{questions[$index].question}}</h3>
            <p>{{answer.key}} {{answer.text}}</p>
        </li>
    </ul>

</div>
